Repository Festo-se/festo-pgva: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ruff-check, ruff-format, pages, deploy-from-main, unit-test

ruff-check:
  stage: lint
  interruptible: true
  image:
    name: ghcr.io/astral-sh/ruff:bookworm-slim
  before_script:
  - cd $CI_PROJECT_DIR
  - ruff --version
  script:
  - ruff check --config ./pyproject.toml --output-format=gitlab > code-quality-report.json
  artifacts:
    reports:
  ...

ruff-format:
  stage: lint
  interruptible: true
  image:
    name: ghcr.io/astral-sh/ruff:bookworm-slim
  before_script:
  - cd $CI_PROJECT_DIR
  - ruff --version
  script:
  - ruff format --diff --config ./pyproject.toml

pages:
  variables:
    UV_CACHE_DIR: $CI_PROJECT_DIR/.uv_cache
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - .cache/
  allow_failure: true
  stage: docs
  interruptible: true
  publish: public
  script:
  - uv run --group docs mkdocs build --site-dir public --verbose
  artifacts:
    paths:
    - public

deploy-from-main:
  stage: deploy
  variables:
    KUBERNETES_MEMORY_REQUEST: 150Mi
    KUBERNETES_MEMORY_LIMIT: 150Mi
  image: alpine:latest
  before_script:
  - apk add --no-cache git curl jq git-lfs uv
  - uv sync --locked
  - export PACKAGE_VERSION=$(uv version --short)
  - export TAGS=$(git tag -l $PACKAGE_VERSION)
  ...

unit-test:
  variables:
    UV_CACHE_DIR: $CI_PROJECT_DIR/.uv_cache
  cache:
  - key:
      files:
      - uv.lock
    paths:
    - $UV_CACHE_DIR
  stage: test
  allow_failure: true
  script:
  - echo "I made it to script"
  - uv sync --locked
  - uv run --group dev pytest tests/unit_tests -v

ci: Update release workflow for Python publishing
  .github/workflows/release-publish.yml
Due: none

fix: Update tag pattern syntax in release workflow
  .github/workflows/release-publish.yml
Due: none

Add checkout step with reference to release branch
  .github/workflows/release-publish.yml
Due: none

Remove semantic version release steps from workflow
  .github/workflows/release-publish.yml
Due: none

ci: Add GitHub Actions workflow for publishing docs
  .github/workflows/publish-docs.yml
Due: none

Update site name and URL in mkdocs configuration
  mkdocs.yml
Due: pages

Update documentation and examples links in README
  README.md
Due: none

chore: Reformat and lint codebase to standards
  CONTRIBUTING.md
  docs/img/method.png
  mkdocs.yml
  pyproject.toml
  src/pgva/pgva.py
  src/pgva/pgva_communication.py
  src/pgva/pgva_config.py
  src/pgva/pgva_interface.py
  src/pgva/registers.py
  src/pgva/utils/logging.py
Due: ruff-check, ruff-format, pages, deploy-from-main, unit-test

feat: Add additional logging to PGVA and backends
  src/pgva/pgva.py
  src/pgva/pgva_communication.py
Due: ruff-check, ruff-format, pages, deploy-from-main, unit-test

refactor: Conform logging to best practices
  examples/example_pgva_print_driver_info.py
  examples/example_pgva_read_sensor_data.py
  examples/example_pgva_run_timed_pressure.py
  examples/example_pgva_run_timed_vacuum.py
  examples/example_pgva_set_internal_chambers.py
  examples/example_pgva_set_output_pressure.py
  examples/example_pgva_set_output_vacuum.py
  examples/example_pgva_startup.py
  pyproject.toml
  src/pgva/__init__.py
  src/pgva/_constants.py
  src/pgva/pgva.py
  src/pgva/pgva_communication.py
  src/pgva/utils/__init__.py
  src/pgva/utils/constants.py
  src/pgva/utils/logging.py
  tests/unit_tests/pgva_test.py
  uv.lock
Due: ruff-check, ruff-format, pages, deploy-from-main, unit-test

feat: Update testing suite
  pyproject.toml
  src/pgva/pgva_communication.py
  tests/conftest.py
  tests/system_tests/test_hw_pgva.py
  tests/unit_tests/pgva_test.py
  tests/unit_tests/test_pgva_api.py
  tests/unit_tests/test_pgva_communication.py
  tests/unit_tests/test_pgva_config.py
  tests/unit_tests/test_pgva_instance.py
  uv.lock
Due: ruff-check, ruff-format, pages, deploy-from-main, unit-test

ci: Add code coverage tooling and CI workflow
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: deploy-from-main

ci: Add tag auto-gen when package version bumped
  .github/workflows/test.yml
Due: none

ci: Add CI to create and upload release on report
  .github/workflows/release-publish.yml
Due: none

ci: Add cliff Action and config
  .github/workflows/release-publish.yml
  cliff.toml
Due: none

fix: Make cliff parsing case-insensitive
  cliff.toml
Due: none

ci: Add PR title check for external PRs
  .github/pull_request_template.md
  .github/workflows/pr-title.yml
Due: none

fix: Use uvx instead of uv
  .github/workflows/test.yml
Due: none

fix: Give Action correct scope to comment
  .github/workflows/pr-title.yml
Due: none

fix: Add ruff as dev dependency
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: deploy-from-main

fix: Re-run formatting
  tests/unit_tests/test_pgva_api.py
Due: none

fix: CI condition key to specify PR target branch
  .github/workflows/pr-title.yml
Due: none

ci: Fix CI for changelog gen
  .github/workflows/release-publish.yml
  .github/workflows/test.yml
Due: none

ci: Add workflow trigger linkage to publish
  .github/workflows/release-publish.yml
  .github/workflows/test.yml
Due: none

ci: Fix env variable setting
  .github/workflows/release-publish.yml
Due: none

ci: Add CI tests passing badge to README
  README.md
Due: none

fix: Update Readme to reflect released status
  README.md
Due: none

fix: Add handling for logger import
  examples/example_pgva_print_driver_info.py
  examples/example_pgva_read_sensor_data.py
  examples/example_pgva_run_timed_pressure.py
  examples/example_pgva_run_timed_vacuum.py
  examples/example_pgva_set_internal_chambers.py
  examples/example_pgva_set_output_pressure.py
  examples/example_pgva_set_output_vacuum.py
  examples/example_pgva_startup.py
Due: none

ci: Update publish workflows
  .github/workflows/release-publish.yml
  .github/workflows/test.yml
Due: none

ci: Remove broken workflow
  .github/workflows/pr-title.yml
Due: none

ci: Add dependabot check
  .github/dependabot.yml
Due: none

ci: Add doc-build stage to test
  .github/workflows/test.yml
Due: none

ci: Add action dep
  .github/workflows/test.yml
Due: none

ci: Test package build
  .github/workflows/test.yml
Due: none

Path conditions:
  ruff-check: any of: src/**/*
  ruff-format: any of: src/**/*
  pages: any of: docs/**/*, src/**/*, mkdocs.yml
  deploy-from-main: any of: src/**/*, pyproject.toml, .gitlab-ci.yml
  unit-test: any of: src/**/*
